{%if sshd_PasswordAuthentication is none %}#{% endif %}PasswordAuthentication {{ sshd_PasswordAuthentication }}
{%if sshd_PubkeyAuthentication is none %}#{% endif %}PubkeyAuthentication {{ sshd_PubkeyAuthentication }}
